/*** CONTENT MODULE ***/
/* line 10, R:/ReversiApp/static/game.scss */
div.gameboard_header {
  float: left;
  position: relative;
  margin-top: 20px;
  height: 50px;
  width: 500px;
  background: #009e5f;
  border: 1px rgba(0, 158, 95, 0.5) solid;
}
/* line 20, R:/ReversiApp/static/game.scss */
div.gameboard_header > div {
  display: inline-block;
  line-height: 50px;
}
/* line 26, R:/ReversiApp/static/game.scss */
div.gameboard_header div#player_turn {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 120px;
}
/* line 35, R:/ReversiApp/static/game.scss */
div.gameboard_header div#your_score {
  position: absolute;
  left: 120px;
  top: 0;
  bottom: 0;
  width: 150px;
}
/* line 44, R:/ReversiApp/static/game.scss */
div.gameboard_header div#opponent_score {
  position: absolute;
  left: 270px;
  top: 0;
  bottom: 0;
  width: 150px;
}
/* line 52, R:/ReversiApp/static/game.scss */
div.gameboard_header div#timer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80px;
}

/* line 63, R:/ReversiApp/static/game.scss */
div.gameboard {
  float: left;
  margin-right: 20px;
  width: 500px;
  height: 500px;
}

/* line 72, R:/ReversiApp/static/game.scss */
div.row_wrapper {
  position: relative;
  width: 500px;
  height: 62.5px;
}

/* line 80, R:/ReversiApp/static/game.scss */
a.boardspot {
  position: absolute;
  width: 60.5px;
  height: 60.5px;
  color: #fff;
  border: 1px #aaa solid;
  line-height: 62.5px;
  text-align: center;
  border: 1px #fff solid;
  opacity: 1;
  cursor: pointer;
}
/* line 92, R:/ReversiApp/static/game.scss */
a.boardspot:hover {
  opacity: 0.7;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_0.Y_0 {
  left: 0px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_0.Y_1 {
  left: 62.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_0.Y_2 {
  left: 125px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_0.Y_3 {
  left: 187.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_0.Y_4 {
  left: 250px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_0.Y_5 {
  left: 312.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_0.Y_6 {
  left: 375px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_0.Y_7 {
  left: 437.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_1.Y_0 {
  left: 0px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_1.Y_1 {
  left: 62.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_1.Y_2 {
  left: 125px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_1.Y_3 {
  left: 187.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_1.Y_4 {
  left: 250px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_1.Y_5 {
  left: 312.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_1.Y_6 {
  left: 375px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_1.Y_7 {
  left: 437.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_2.Y_0 {
  left: 0px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_2.Y_1 {
  left: 62.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_2.Y_2 {
  left: 125px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_2.Y_3 {
  left: 187.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_2.Y_4 {
  left: 250px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_2.Y_5 {
  left: 312.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_2.Y_6 {
  left: 375px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_2.Y_7 {
  left: 437.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_3.Y_0 {
  left: 0px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_3.Y_1 {
  left: 62.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_3.Y_2 {
  left: 125px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_3.Y_3 {
  left: 187.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_3.Y_4 {
  left: 250px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_3.Y_5 {
  left: 312.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_3.Y_6 {
  left: 375px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_3.Y_7 {
  left: 437.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_4.Y_0 {
  left: 0px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_4.Y_1 {
  left: 62.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_4.Y_2 {
  left: 125px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_4.Y_3 {
  left: 187.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_4.Y_4 {
  left: 250px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_4.Y_5 {
  left: 312.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_4.Y_6 {
  left: 375px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_4.Y_7 {
  left: 437.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_5.Y_0 {
  left: 0px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_5.Y_1 {
  left: 62.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_5.Y_2 {
  left: 125px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_5.Y_3 {
  left: 187.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_5.Y_4 {
  left: 250px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_5.Y_5 {
  left: 312.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_5.Y_6 {
  left: 375px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_5.Y_7 {
  left: 437.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_6.Y_0 {
  left: 0px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_6.Y_1 {
  left: 62.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_6.Y_2 {
  left: 125px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_6.Y_3 {
  left: 187.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_6.Y_4 {
  left: 250px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_6.Y_5 {
  left: 312.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_6.Y_6 {
  left: 375px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_6.Y_7 {
  left: 437.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_7.Y_0 {
  left: 0px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_7.Y_1 {
  left: 62.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_7.Y_2 {
  left: 125px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_7.Y_3 {
  left: 187.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_7.Y_4 {
  left: 250px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_7.Y_5 {
  left: 312.5px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_7.Y_6 {
  left: 375px;
}

/* line 100, R:/ReversiApp/static/game.scss */
a.X_7.Y_7 {
  left: 437.5px;
}
