///*** GAME.SCSS -- STYLING FOR GAMES PAGES ***///

// Don't worry about resets!

/*** CONTENT MODULE ***/


$gameHeaderHeight: 50px;
$gameHeaderWidth: 500px;
div.gameboard_header {
	float: left;
	position: relative;

	margin-top: 20px;
	height: $gameHeaderHeight;
	width: $gameHeaderWidth;
	background: rgba(0, 158, 95, 1);
	border: 1px rgba(0, 158, 95, 0.5) solid;

	& > div {
		display: inline-block;
		line-height: $gameHeaderHeight;
		color: #fff;
	}
	
	$playerTurnWidth: 120px;
	div#player_turn {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: $playerTurnWidth;
	}
	
	$yourScoreWidth: 150px;
	div#your_score {
		position: absolute;
		left: $playerTurnWidth;
		top: 0;
		bottom: 0;
		width: $yourScoreWidth;
	}

	$oppScoreWidth: 150px;
	div#opponent_score {
		position: absolute;
		left: $playerTurnWidth + $yourScoreWidth;
		top: 0;
		bottom: 0;
		width: $oppScoreWidth;
	}

	div#timer {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: $gameHeaderWidth - $playerTurnWidth - $yourScoreWidth - $oppScoreWidth;
	}
}

$boardWidth: 500px;
$boardHeight: 500px;
div.gameboard {
	float: left;
	margin-right: 20px;

	width: $boardWidth;
	height: $boardHeight;
}

$rowHeight: $boardHeight / 8;
div.row_wrapper {
	position: relative;
	width: $boardWidth;
	height: $rowHeight;
}

$spotWidth: $boardWidth / 8;
$spotHeight: $boardHeight / 8;
a.boardspot {
	position: absolute;
	width: $spotWidth - 2;
	height: $spotHeight - 2;
	color: #fff;
	border: 1px #aaa solid;
	line-height: $spotHeight;
	text-align: center;
	opacity: 1;
	cursor: pointer;

	&:hover {
		opacity: 0.7;
	}
}

a.white.boardspot {
	background: #fff;
}

a.black.boardspot {
	background: #000;
}


a.empty.boardspot {
	background: #337;
}

// Setting up boardpieces
@for $x from 0 through 7 {
	@for $y from 0 through 7 {
		a.X_#{$x}.Y_#{$y} {
			left: 0 + ($y) * $spotWidth;

			// optional background color stuff
		}
	}
}