/*** CONTENT MODULE ***/
/* line 7, R:/ReversiApp/static/index.scss */
div.left_col, div.right_col {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 14, R:/ReversiApp/static/index.scss */
div.left_col {
  float: left;
}

/* line 18, R:/ReversiApp/static/index.scss */
div.right_col {
  float: right;
}

/*** GREETING MODULE ***/
/* line 24, R:/ReversiApp/static/index.scss */
div.greeting {
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}

/*** RECENT GAMES MODULE ***/
/* line 31, R:/ReversiApp/static/index.scss */
div.recent_games {
  width: 100%;
}

/* line 39, R:/ReversiApp/static/index.scss */
div.recent_games_list {
  width: 367px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #ccc;
  position: relative;
}
/* line 49, R:/ReversiApp/static/index.scss */
div.recent_games_list > table {
  width: 350px;
}
/* line 56, R:/ReversiApp/static/index.scss */
div.recent_games_list tr {
  height: 80px;
  max-height: 73px;
}
/* line 61, R:/ReversiApp/static/index.scss */
div.recent_games_list tr.win {
  background: #0b0;
}
/* line 65, R:/ReversiApp/static/index.scss */
div.recent_games_list tr.loss {
  background: #b00;
}
/* line 68, R:/ReversiApp/static/index.scss */
div.recent_games_list td {
  height: 80px;
  border: 0;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}
/* line 76, R:/ReversiApp/static/index.scss */
div.recent_games_list td.recent_games_pic {
  width: 80px;
}
/* line 79, R:/ReversiApp/static/index.scss */
div.recent_games_list td.recent_games_pic img {
  height: 100%;
  width: 100%;
}
/* line 85, R:/ReversiApp/static/index.scss */
div.recent_games_list td.recent_games_profile {
  width: 269px;
}
/* line 89, R:/ReversiApp/static/index.scss */
div.recent_games_list td.recent_games_profile > table {
  width: 270px;
}
/* line 93, R:/ReversiApp/static/index.scss */
div.recent_games_list td.recent_games_profile td {
  width: 67.5px;
}

/*** FRIENDS RANK MODULE ***/
/* line 101, R:/ReversiApp/static/index.scss */
div.friends_rank {
  height: 100%;
  width: 100%;
}

/* line 111, R:/ReversiApp/static/index.scss */
div.friends_rank_list {
  width: 400px;
  height: 430px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #ccc;
  position: relative;
}
/* line 121, R:/ReversiApp/static/index.scss */
div.friends_rank_list table {
  width: 383px;
}
/* line 128, R:/ReversiApp/static/index.scss */
div.friends_rank_list tr {
  height: 70px;
}
/* line 132, R:/ReversiApp/static/index.scss */
div.friends_rank_list td {
  height: 70px;
  border: 0;
  border-spacing: 0;
}
/* line 138, R:/ReversiApp/static/index.scss */
div.friends_rank_list td.friends_rank_pic {
  width: 100px;
  background: #0bb;
}
/* line 144, R:/ReversiApp/static/index.scss */
div.friends_rank_list td.friends_rank_profile {
  width: 300px;
  background: #b0b;
}
