{% extends "base.html" %}

{% block additional_styling %}
<link rel="stylesheet" href="static/game.css" >
<script src="static/game.js"></script>

{% endblock %}

{% block content %}
<div class="gameboard_header">
	<div id="player_turn">
		{% if turn %} <p> Your turn! </p>
		{% else %} <p> Opponent's turn! </p>
		{% endif %}
	</div>
	<div id="your_score"> Your score: {{ player_score }} </div>
	<div id="opponent_score"> {{opponent.name}}'s score: {{ opponent_score }}
	</div>
	<div id="game_id" style="display: none">{{ game._id }}</div>
</div>
<div class="gameboard">
	
</div>

{% endblock %}
