<!-- Show a list of all past games that a user has played.
	When a game is clicked, the game statistics page is brought up 
	on load, if just_started = True, raise a pop up alert saying "You just started a game with opponents name!" -->

{% extends "base.html" %}

{% block additional_styling %}
<link rel="stylesheet" href="/static/game_history.css">
{% endblock %}


{% block scripts %}
<script src="/static/js/game_history.js">

</script>
{% endblock %}


{% block content %}
<div class="header">
	<h1> {{ current_user.name }}'s Past Games! </h1>
</div>

<div class="past_games">
	<table>
	    <tbody>
	      {% for game in past_games %}
	      <tr>
	        <td class="game_item">
	        	<a href="{{ url_for('game_stats', game_id=game._id) }}">
	          		<span class="players">
	          			{{ game.white.name }} vs {{ game.black.name }}
	          		</span><br>
	          		<span class="winner">Winner: {{ game.winner.name }}
	          		</span><br>
	        	</a>
	        </td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
</div>
{% endblock %}