{% extends "base.html" %}

<!-- We're not using this so we can ignore it/delete it later -->
{% block topbar %}

  <!-- By passing a valid access token here, we are able to display -->
  <!-- the user's images without having to download or prepare -->
  <!-- them ahead of time -->
  <p id="picture" style="background-image: url(https://graph.facebook.com/me/picture?type=normal&access_token={{token}})"></p>

  <div>
    <h1>Welcome, <strong>{{me.name}}</strong></h1>
    <p class="tagline">
      This is your app
      <a href="{{app.link}}">{{app.name}}</a>
    </p>
    <div id="share-app">
      <p>Share your app:</p>
      <ul>
        <li>
          <a href="#" class="facebook-button" id="postToWall" data-url="{{ url }}">
            <span class="plus">Post to Wall</span>
          </a>
        </li>
        <li>
          <a href="#" class="facebook-button speech-bubble" id="sendToFriends" data-url="{{ url }}">
            <span class="speech-bubble">Send Message</span>
          </a>
        </li>
        <li>
          <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
            <span class="apprequests">Send Requests</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}


<!-- We're actually using this part -->
{% block additional_styling %}
<link rel="stylesheet" href="../static/index.css"> 
{% endblock %}


{% block content %}
<div class="left_col">
  <div class="greeting">
    <h2 class="block_header">GREETINGS, {{ current_user.name }}</h2>
    <h3 class="rank">Rank: {{ current_user.rank }}</h3>
    <h3 class="elo">ELO: {{ current_user.elo_rating }}</h3>
    {% for f in app_friends%}
      <span> {{f.name }}, {{f.gender}}, f <br> </span>
    {% endfor %}
  </div>
  <div class="recent_games">
    <h2 class="block_header">Your Recent Games: </h2>
    <!-- Start RECENT GAMES LIST block -->
    
    <div class="recent_games_list">
    <!-- IF STATEMENT: IF 0 GAMES, DISPLAY FOLLOWING -->
    {% if num_games == 0 %}
      <h3>No games played</h3>
    <!-- ELSE IF STATEMENT: IF NUM OF GAMES > 0, DISPLAY THE FOLLOWING TABLE -->
    {% else %}
      <table>
        <tbody>
          <!-- LOOP through the recent games array -->
          {% for g in recent_games %}
            
            <!-- IF STATEMENT: DID USER WIN? -->
            {% if g.winner_id == current_user._id %}
          <tr class="win">
            {% else %}
          <tr class ="loss">
            {% endif %}

            <td class="recent_games_pic" style="background-image: url('')">
              <!-- Insert image as background -->
            </td>   
            <td class="recent_games_profile">
              <div>
                {% if g.white._id == current_user._id %}
                <span class="opponent">
                  Opponent: {{g.black.name}} <br>
                  ELO: {{g.black.elo_rating}} <br>
                </span>
                {% else %}
                <span class="opponent">
                  Opponent: {{g.white.name}} <br>
                  ELO: {{g.white.elo_rating}} <br>
                </span>
                {% endif %}
                {% if g.winner_id == current_user._id %}
                <span class="status win">WIN</span>
                {% else %}
                <span class="status loss">LOSS</span>
                {% endif %}
              </div>
            </td>
          </tr>

          {% endfor %}

        </tbody>
      </table>
    {% endif %}
    </div>
    <!-- End RECENT GAMES LIST block -->
  </div>
</div>
<div class="right_col">
  <div class="friends_rank">
    <h2 class="block_header">Play With a Friend!</h2>
    <div class="friends_rank_list">
      {% if num_online_friends == 0 %}
      <h3> None of your friends are on Reversi with Friends. <a href="#">Invite them!</a></h3>

      {% else %}
      <table>
        <tbody>
          {% for friend in online_friends %}
          <tr>
            <td class="friends_rank_pic" style="background-image: url('')">
              <!-- Insert image as background -->
            </td>
            <td class="friends_rank_profile">
              <span class="name">{{ friend.name }}</span> <br>
              <span class="rank">Rank: {{ friend.rank }}</span> <br>
              <span class="elo">ELO: {{ friend.elo_rating }}</span> <br>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}