{% extends "base.html" %}

{% block additional_styling %}
<link rel="stylesheet" href="/static/profile.css">
{% endblock %}

{% block content %}

<div class="player_stats">
	<h2>{{ current_user.name }}'s Stats</h2>

	<div class="field_wrapper">
		<div class="field">Wins: </div>
		<div class="value">{{ current_user.wins }}</div>
	</div>
	<div class="field_wrapper">
		<div class="field">Losses:</div>
		<div class="value">{{ current_user.losses }}</div>
	</div>
	<div class="field_wrapper">
		<div class="field">Draws: </div>
		<div class="value">{{ current_user.draws }}</div>
	</div>
	<div class="field_wrapper">
		<div class="field">Rank Amongst Friends: </div>
		<div class="value">{{ current_user.rank }}</div>
	</div>
	<div class="field_wrapper">
		<div class="field">Elo: </div>
		<div class="value">{{ current_user.elo_rating }}</div>
	</div>
	<div class="field_wrapper">
		<div class="field">Total Games played: </div>
		<div class="value">{{ num_games }}</div>
	</div>
</div>

{% endblock %}

{% block footer %}
<div class="fb-comments" data-href="http://stark-brook-9725.herokuapp.com/profile" data-width="470" data-num-posts="10"></div>
{% endblock %}