{% extends "base.html" %}

{% block additional_styling %}
<link rel="stylesheet" href="static/profile.css">
{% endblock %}

{% block content %}

<div class="player_stats">
	<h2>{{ current_user.name }}'s Stats</h2>

	<p>Wins: {{ current_user.wins }}</p>
	<p>Percent Wins as Black: {{ current_user.wins }}</p>
	<p>Percent Wins as White: {{ current_user.wins }}</p>
	<p>Losses: {{ current_user.losses }}</p>
	<p>Draws: {{ current_user.draws }}</p>

	<p>Rank Amongst Friends: {{ current_user.rank }}</p>
	<p>Elo: {{ current_user.elo_rating }}</p>
	<p>Total games played: {{ num_games }} </p>
</div>

{% endblock %}